[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock
max_allowed_packet = 512M

[mysqld_safe]
port = 3306
socket = /var/run/mysqld/mysqld.sock
nice = 0

[mysqld]
port = 3306
socket = /var/run/mysqld/mysqld.sock
max_allowed_packet = 512M

character-set-server=utf8

innodb_buffer_pool_size = 128M
innodb_ft_min_token_size = 2
innodb_ft_max_token_size = 12
innodb_ft_num_word_optimize = 200
innodb_optimize_fulltext_only = 1

query_cache_limit = 32M
query_cache_size = 128M
query_cache_type = 1

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

expire_logs_days = 2
max_binlog_size = 2M

[mysqldump]
port = 3306
socket = /var/run/mysqld/mysqld.sock
max_allowed_packet = 512M