server {
	listen 80 default_server;
	server_name "";
	root /var/www/default;

	index index.php index.html;

	include globals;
}

server {
	listen 443 default_server ssl;
	server_name "";
	root /var/www/default;

	add_header Strict-Transport-Security max-age=31536000;

	ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

	ssl_ciphers 'EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS';

	ssl_prefer_server_ciphers on;

	ssl_certificate /etc/nginx/ssl/server.crt;
	ssl_certificate_key /etc/nginx/ssl/server.key;

	resolver 8.8.8.8;
	ssl_stapling on;
	ssl_trusted_certificate /etc/nginx/ssl/server.crt;

	index index.php index.html;

	include globals;
}
