server {
	listen 80 default_server;
	server_name "";
	root /var/www/default;
	index index.php index.html;

	include conf.d/bp.conf;
	include conf.d/php.conf;
}

server {
	listen 443 default_server ssl;
	server_name "";
	root /var/www/default;
	index index.php index.html;

	include conf.d/bp.conf;
	include conf.d/php.conf;
	include conf.d/ssl.conf;

	ssl_certificate ssl/server.crt;
	ssl_certificate_key ssl/server.key;
	ssl_trusted_certificate ssl/server.crt;
}