server {
	listen 80 default_server;
	server_name "";
	root /var/www/default;

	index index.php index.html;

	include globals;
}

server {
	listen 443 default_server ssl;
	server_name "";
	root /var/www/default;

	add_header Strict-Transport-Security max-age=31536000;

	ssl_protocols SSLv3 TLSv1 TLSv1.1 TLSv1.2;
	ssl_ciphers RC4:HIGH:!aNULL:!MD5:!kEDH;
	ssl_prefer_server_ciphers on;

	ssl_certificate /etc/nginx/ssl/server.crt;
	ssl_certificate_key /etc/nginx/ssl/server.key;

	index index.php index.html;

	include globals;
}
